<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <!--<![endif]-->
<html ng-app="auctionApp">
  <head>
    <title>Auction App</title>
    <base href="/" />
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="ovsoil">

    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'images/logo_16x16.ico' %}">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'assets/css/googlefonts.css' %}"> -->
    <!-- Global CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-carousel/dist/angular-carousel.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/prism/prism.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/lightbox/dist/ekko-lightbox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/elegant_font/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.1/weui.min.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/moment/min/locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/humanize-duration/humanize-duration.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-timer/dist/angular-timer.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/prism/prism.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/lightbox/dist/ekko-lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-match-height/jquery.matchHeight-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-touch/angular-touch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-carousel/dist/angular-carousel.min.js' %}"></script>

    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- css script -->
    {% block app_css %}{% endblock app_css %}
    {% block app_javascript %}{% endblock app_javascript %}

    <!-- content -->
    {% block content %}{% endblock content %}
    <!-- navtab in bottom -->
    {% include 'navtab.html' %}

  </body>
</html>
