<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as ctrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#we-are-borg-navbar">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Auction Web App</a>
    </div> <!-- ./navbar-header -->

    <div class="collapse navbar-collapse" id="we-are-borg-navbar">
      <ul class="nav navbar-nav pull-right" ng-show="ctrl.authenticated">
          <li><a href="+{{ user.id }}">{{ user.username }}</a></li>
          <li><a href="+{{ user.id }}/settings">Settings</a></li>
          <li><a href="javascript:void(0)" ng-click="ctrl.logout()">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right" ng-hide="ctrl.authenticated">
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
      </ul>
    </div>

  </div> <!-- /.container-fluid -->
</nav>
