<div class="main_nav_bottom">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" align="center">
      <ul class="nav nav-tabs nav-tabs-justified">
        <div class="row" align="center">
          <!-- <div class="navbar-header col-md-4 col-sm-4 col-xs-4" align="left"><a href="/"><span class="glyphicon glyphicon-home"></span></a></div> -->
          <div class="navbar-header col-md-4 col-sm-4 col-xs-4" width=%33 align="center"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></div>
          <div class="navbar-header col-md-4 col-sm-4 col-xs-4" width=%33 align="center"><a href="/"><i class="fa fa-circle-thin" aria-hidden="true"></i></a></div>
          <div class="navbar-header col-md-4 col-sm-4 col-xs-4" width=%33 align="center"><a href="/"><i class="fa fa-user" aria-hidden="true"></i></a></div>
        </div>
      </ul>
    </div>
  </nav>
</div>
