<div class="container">
  <div class="row clearfix">
    <div class="col-sm-12 col-md-6 column">
      <div class="row clearfix">
        <img ng-src="{{$ctrl.mainImageUrl}}" class="img-responsive" />
      </div>
      <div class="row clearfix">
        <div class="col-sm-3" ng-repeat="img in $ctrl.good.images">
          <img ng-src="{{img}}" class="img-responsive" ng-click="$ctrl.setImage(img)" />
        </div>
      </div>
    </div>

    <div class="col-md-6 column">
      <h3>
        {{$ctrl.good.name}}
      </h3>
      <p>
      {{$ctrl.good.description}}
      </p>

      <div ng-if="$ctrl.status == 'comming'">
        <blockquote>
          <p>即将开拍</p>
          <p>开始时间：{{ $ctrl.good.start_time | date:'yyyy/MM/dd H:mm:ss'}}</p>
          <p>起拍价：{{ $ctrl.good.start_price }} </p>
          <p>加价幅度：{{ $ctrl.good.bid_range }} </p>
          <small>
            <timer countdown="$ctrl.before_start"
                   max-time-unit="'day'"
                   interval="1000"
                   finish-callback="$ctrl.auction_begin()">
            距离开拍：{{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}
            </timer>
          </small>
        </blockquote>
      </div>

      <div ng-if="$ctrl.status == 'going'">
        <blockquote>
          <p>拍卖中</p>
          <p>结束时间：{{ $ctrl.good.stop_time | date:'yyyy/MM/dd H:mm:ss'}}</p>
          <p>起拍价：{{ $ctrl.good.start_price }} </p>
          <p>加价幅度：{{ $ctrl.good.bid_range }} </p>
          <timer countdown="$ctrl.before_stop"
                 max-time-unit="'hour'"
                 interval="1000"
                 finish-callback="$ctrl.auction_done">
          距离结束：{{hours}} hour{{hoursS}}, {{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}
          </timer>
          <small>
            <p>
            {{$ctrl.bids.length}} 人次出价
            </p>
          </small>
        </blockquote>
        <div>
          <form role="form" ng-submit="$ctrl.submit_bid()">
            <input ng-model="$ctrl.amount"> </input>
            <button type="submit" class="btn btn-default">出价</button>
          </form>
        </div>
      </div>

      <div ng-if="$ctrl.status == 'done'">
        <blockquote>
          <p>拍卖结束</p>
          <p>结束时间：{{ $ctrl.good.stop_time | date:'yyyy/MM/dd H:mm:ss'}}</p>
          <p>起拍价：{{ $ctrl.good.start_price }} </p>
          <p>加价幅度：{{ $ctrl.good.bid_range }} </p>
          <small>
            <p>
            {{$ctrl.bids.length}} 人次出价
            </p>
          </small>
          <p>成交价格：{{ $ctrl.current_bid.amount }} </p>
        </blockquote>
      </div>

    </div>
  </div>
  <div class="row clearfix">
    <div class="col-sm-12 col-md-6 column">
      <div class="page-header">
        <h1>
          <small>详情</small>
        </h1>
      </div>
      <dl>
        <dt>
        Description lists
        </dt>
        <dd>
        {{$ctrl.good.description}}
        </dd>
      </dl>
    </div>
    <div class="col-sm-12 col-md-6 column">
      <div ng-repeat="bid in $ctrl.bids">
        <p>{{bid.user}}, {{bid.amount}}</p>
      </div>
    </div>
  </div>
</div>
